{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- cell (0, 0) ============================================ -->
    <div class="col">
      <legend>Definir condiciones de fragmentacion</legend>

      <form class="form-inline" method="POST" action="{{ url_for('horizontal') }}" id="form-select-relation">
        <div class="form-group">
          Leer relacion:
          <!-- <label for="relation">Relacion </label> -->
          <select name="sel-relation" id="relation" class="custom-select mr-sm-2">
            {% if selected_relation %}
            <option selected>{{ selected_relation }}</option>
            {% endif %}
            {% for r in relations %}
            <option value="{{ r.0 }}">{{ r.0 }}</option>
            {% endfor %}
          </select>
          <input type="submit" class="btn btn-secondary" name="id-load-relation" value="Cargar relacion" />
        </div>
      </form>

      <br>

      <div class="container-fluid">
        <div class="row flex-row flex-nowrap">
          <ul class="list-group list-group-horizontal">
            <!-- <li class="list-group-item">Cras justo odio</li> -->
            {% for r in relations %}
            <li class="list-group-item">{{ r.0 }}</option>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- cell (0, 1) ========================================================== -->

    <div class="col">
      <legend>Definir predicados simples</legend>

      <form action="{{ url_for('horizontal') }}" method="POST">
        <div class="form-row">
          <!-- attributes ..................................................... -->

          <div class="col">
            Atributo:
            <select class="custom-select mr-sm-2" name="sel-attribute">
              {% for attr in relation_attr %}
              <option value="{{attr.0}}">{{attr.0}}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Operators ...................................................... -->
          <div class="col">
            Operador:
            <select class="custom-select mr-sm-2" name="sel-operator">
              <option value="=">=</option>
              <option value="<">
                <</option> <option value="<=">
                  <=</option> <option value=">">>
              </option>
              <option value=">=">>=</option>
              <option value="<>">
                <>
              </option>
            </select>
          </div>

          <div class="col">
            <!-- more code if you perform label for...  -->
            <!-- <label for="inputValue">Valor </label> -->
            Valor:
            <input type="text" class="form-control" id="inputValue" placeholder="Ponga el valor" name="txt-value">
          </div>

          <input type="submit" class="btn btn-secondary btn-sm" name="id-add-predicate" value="Agregar predicado" />
        </div>
      </form>
    </div>


  </div>

  <br>

  <div class="row">
    <!-- cell (1, 0) ============================================================= -->

    <div class="col">

      <legend>Colocar fragmentos miniterminos</legend>

      <form action="{{ url_for('horizontal') }}" method="POST">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Predicado</th>
            </tr>
          </thead>
          <tbody>
            {% for p in predicates %}
            <tr>
              <th scope="row">{{ p.0 }}</th>
              <td>{{ p.1 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <input type="submit" class="btn btn-secondary" name="id-build-minterms" value="Generar miniterminos" />

      </form>

    </div>

    <!-- cell (1, 1) ============================================================================ -->
    <div class="col">
      <legend>Generar fragmentos miniterminos</legend>
      <!-- <div class="form-group">
          <label for="exampleFormControlTextarea1">Large textarea</label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
      <form action="{{ url_for('horizontal') }}">
        <div class="form-group">

          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Predicado minitermino</th>
              </tr>
            </thead>
            <tbody>
              {% for mp in minterm_predicates %}
              <tr>
                <th scope="row"> {{ mp }} </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}