{% extends "base.html" %}

{% block content %}

<div class="container">

  <div class="row">
    <!-- cell (0, 0) ============================================ -->
    <div class="col">
      <legend>Definir condiciones de fragmentacion</legend>

      Relaciones:

      <div class="container-fluid">
        <div class="row flex-row flex-nowrap">
          <ul class="list-group list-group-horizontal">
            <!-- <li class="list-group-item">Cras justo odio</li> -->
            {% for r in relations %}
            <li class="list-group-item">{{ r.0 }}</option>
              {% endfor %}
          </ul>
        </div>
      </div>

      <br>

      Seleccione una relacion
      <!-- <label for="relation">Relacion </label> -->
      <select name="sel-relation" id="sel-relation" class="custom-select mr-sm-2">
        {% if selected_relation %}
        <option selected>{{ selected_relation }}</option>
        {% endif %}
        {% for r in relations %}
        <option value="{{ r.0 }}">{{ r.0 }}</option>
        {% endfor %}
      </select>

    </div>

    <!-- cell (0, 1) ========================================================== -->
    <div class="col">
      <legend>Definir predicados simples</legend>

      <div class="form-row">
        <!-- attributes ..................................................... -->

        <div class="col">
          Atributo:
          <select class="custom-select mr-sm-2" name="sel-attribute" id='sel-attributes'>
            {% for attr in relation_attr %}
            <option value="{{attr.0}}">{{attr.0}}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Operators ...................................................... -->
        <div class="col">
          Operador:
          <select class="custom-select mr-sm-2" name="sel-operator" id='sel-operator'>
            <option value="=">=</option>
            <option value="<">
              <</option> <option value="<=">
                <=</option> <option value=">">>
            </option>
            <option value=">=">>=</option>
            <option value="<>">
              <>
            </option>
          </select>
        </div>

        <div class="col">
          <!-- more code if you perform label for...  -->
          <!-- <label for="input-value">Valor </label> -->
          Valor:
          <input type="text" class="form-control" id="input-value" placeholder="Ponga el valor" name="txt-value">
        </div>

        <button id="btn-add-predicate" class="btn btn-secondary btn-sm" name="id-add-predicate">Agregar </button>
      </div>
    </div>


  </div>

  <br>

  <div class="row">
    <!-- cell (1, 0) ============================================================= -->

    <div class="col">

      <legend>Colocar fragmentos miniterminos</legend>

      <table class="table table-striped" id="table-predicates">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Predicado</th>
          </tr>
        </thead>
        <tbody>
          {% for p in predicates %}
          <tr>
            <!-- <th scope="row">{{ p.0 }}</th> -->
            <td>{{ p.0 }}</td>
            <td>{{ p.1 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <button class="btn btn-secondary btn-block" id="btn-build-minterms">
        Generar miniterminos
      </button>
    </div>

    <!-- cell (1, 1) ============================================================================ -->
    <div class="col">
      <legend>Generar fragmentos miniterminos</legend>
      <!-- <div class="form-group">
          <label for="exampleFormControlTextarea1">Large textarea</label>
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
      <div class="form-group">
        <select id="select-minterm-fragment" class="custom-select mr-sm-2">
          {% for mp in minterm_predicates %}
          <option value="{{ mp }}">{{ mp }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- <div class="form-group">
          <select name="sel-site" class="custom-select mr-sm-2">
            <option value="S1">S1</option>
            <option value="S2">S2</option>
            <option value="S3">S3</option>
          </select>
        </div> -->

      <div class="form-group">
        <button class="btn btn-secondary btn-block" id="id-send-site">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- external SCRIPT, to include a js file use the script tag -->
<script type="text/javascript" src="/static/horizontal.js">

</script>

{% endblock %}