{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- cell (0, 0) ============================================ -->
        <div class="col">
            <legend>Definir condiciones de fragmentacion</legend>
            Leer relacion:

            <select name="sel-relation" id="" class="btn btn-info">
                <option value="a">a</option>
                <option value="a">a</option>
                <option value="a">a</option>
                <option value="a">a</option>
            </select>

            <br>

            <div class="container-fluid">
              <div class="row flex-row flex-nowrap">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Morbi leo risus</li>
                </ul>
              </div>
            </div>
        </div>

        <!-- cell (0, 1) ============================================ -->
        <div class="col">
            <legend>Generar fragmentos miniterminos</legend>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores magnam ipsa, vel saepe animi voluptatum
            nobis maiores quidem laborum itaque esse quibusdam? Sequi consectetur debitis maxime quia enim dolore
            pariatur.
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <legend>Definir predicados simples</legend>

            Atributo: 
            <select class="btn btn-info">
                <option value="a">a</option>
                <option value="a">a</option>
            </select>

            <br>
            <br>

            Operador: 
            <select class="btn btn-info">
                <option value="a">a</option>
                <option value="a">a</option>
            </select>

            <br>
            <br>

            Valor: 
            <select class="btn btn-info">
                <option value="a">a</option>
                <option value="a">a</option>
            </select>


        </div>
        <div class="col">
            <legend>Colocar fragmentos miniterminos</legend>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores magnam ipsa, vel saepe animi voluptatum
            nobis maiores quidem laborum itaque esse quibusdam? Sequi consectetur debitis maxime quia enim dolore
            pariatur.
        </div>
    </div>
</div>
{% endblock %}