{% extends "base.html" %}

{% block content %}

<div class="container">


  <fieldset class="form-group">
    <legend>Agregue las selecciones</legend>

    <div class="form-group">
      <label for="relation">Seleccione una relacion </label>
      <select class="form-control" id="relation" name="relation">
        {% for r in relations %}
        <option value="{{ r.0 }}">{{ r.0 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="selected_attributes">Seleccione atributos </label>
      <select class="form-control" id="selected_attributes" multiple name="selected_attributes">
        {% for attr in relation_attr %}
        <option value="{{attr.0}}">{{attr.0}}</option>
        {% endfor %}
      </select>
    </div>

    <!-- by applying btn-block in the "button" class it will expand in width  -->
    <button class="btn btn-primary btn-block" id="btn-add-selection">Agregar seleccion</button> 
  </fieldset>


  <fieldset class="form-group">
    <legend>Expresiones algebraicas</legend>

    <div class="form-group">
      <select multiple id="select-expressions" class="form-control">
        <!-- <option value="attr.0">attr.0</option> -->
      </select>
    </div>

    <div class="form-group">
      <select id="select-site"  class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <button class="btn btn-primary btn-block" id="btn-send-site">Enviar</button>
  </fieldset>


  <script>
    const selRelation = document.getElementById('relation');
    const selSite = document.getElementById("select-site");

    const selMultAttributes = document.getElementById('selected_attributes');
    const selMultExpressions = document.getElementById("select-expressions");

    const btnSendSite = document.getElementById("btn-send-site");
    const btnAddSelection = document.getElementById('btn-add-selection');


    btnSendSite.onclick = e => {
      const reqObj = {
        site: selSite.value,
        queries: valuesFromMultipleSelect(selMultExpressions)
      }
      console.log(reqObj)
    }

    function valuesFromMultipleSelect(selectObject) {
      return Array.from(selectObject.selectedOptions).map(option => option.value)
    }

    btnAddSelection.onclick = e => {
      const attributes = valuesFromMultipleSelect(selMultAttributes)
      const query = `SELECT ${attributes.join(', ')} FROM ${selRelation.value}`
      replaceChildrenSelect(selMultExpressions, [query])
    }

    String.prototype.replaceAll = function (search, replacement) {
      var target = this;
      return target.split(search).join(replacement);
    };

    function removeChildren(parent) {
      while (parent.firstChild) parent.removeChild(parent.firstChild)
    }

    function replaceChildrenSelect(target, names) {
      names.forEach(name => {
        const option = document.createElement('option')
        option.value = option.text = name
        target.appendChild(option)
      })
    }

    // When the relation select field changes the attributes from this will change too
    selRelation.onchange = e => {
      removeChildren(selMultAttributes)
      fetch('/relation_attributes/' + selRelation.value)
        .then(res => res.json())
        .then(data => { // Array<Array<String>>
          replaceChildrenSelect(selMultAttributes, data.map(attrInfo => attrInfo[0]))
        })
    };

  </script>

</div>

{% endblock %}