{% extends "base.html" %}

{% block content %}

<div class="container">


  <fieldset class="form-group">
    <legend>Agregue las selecciones</legend>

    <div class="form-group">
      <label for="relation">Seleccione una relacion </label>
      <select class="form-control" id="relation" name="relation">
        {% for r in relations %}
        <option value="{{ r.0 }}">{{ r.0 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
        Llaves primarias

      <table class="table table-striped" id="table-primary-keys">
          <!-- <tr>
            <td> p.0 </td>
          </tr> -->
      </table>
    </div>

    <div class="form-group">
      <label for="selected_attributes">Seleccione atributos </label>
      <select class="form-control" id="selected_attributes" multiple name="selected_attributes">
        {% for attr in relation_attr %}
        <option value="{{attr.0}}">{{attr.0}}</option>
        {% endfor %}
      </select>
    </div>

    <!-- by applying btn-block in the "button" class it will expand in width  -->
    <button class="btn btn-primary btn-block" id="btn-add-selection">Agregar seleccion</button> 
  </fieldset>


  <fieldset class="form-group">
    <legend>Expresiones algebraicas</legend>

    <div class="form-group">
      <select multiple id="select-expressions" class="form-control">
        <!-- <option value="attr.0">attr.0</option> -->
      </select>
    </div>

    <div class="form-group">
      <select id="select-site"  class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <button class="btn btn-primary btn-block" id="btn-send-site">Enviar</button>
  </fieldset>


  <script>
    const selRelation = document.getElementById('relation');
    const selSite = document.getElementById("select-site");

    const selMultAttributes = document.getElementById('selected_attributes');
    const selMultExpressions = document.getElementById("select-expressions");

    const btnSendSite = document.getElementById("btn-send-site");
    const btnAddSelection = document.getElementById('btn-add-selection');

    const tablePrimaryKeys = document.getElementById('table-primary-keys');

    let attributeIndexes = []; // Array< Array< Int > >

    function addPrimaryKeysTable(primaryKeys) {
        tablePrimaryKeys.innerHTML = primaryKeys.reduce(
            (acc, cur) => acc + `<tr><td> ${cur} </td></tr> `, ''
        )
    }

    btnSendSite.onclick = e => {
      const reqObj = {
        site: selSite.value,
        relation: selRelation.value,
        attributes: valuesFromMultipleSelect(selMultExpressions)
      }
      console.log(reqObj)
      fetch('/vertical_send_site/' + JSON.stringify(reqObj))
        .then(res => res.json())
        .then(res => {
          console.log(res)
        })
        .catch(err => console.log(err))
    }


    btnAddSelection.onclick = e => {
      const attributes = textsFromMultipleSelect(selMultAttributes)
      const query = `SELECT ${attributes.join(', ')} FROM ${selRelation.value}`
      addChildSelect(selMultExpressions, query, attributeIndexes.length)
      attributeIndexes.push(attributes)
    }

    function addChildSelect(target, text, value) {
      const option = document.createElement('option')
      option.value = value
      option.text = text
      target.appendChild(option)
    }

    function replaceChildrenSelect(target, texts, values) {
      removeChildren(target)
      const minLength = Math.min(texts.length, values.length)
      for (let i = 0; i < minLength; ++i) {
        const option = document.createElement('option')
        option.value = values[i]
        option.text = texts[i]
        target.appendChild(option)
      }
    }

    String.prototype.replaceAll = function (search, replacement) {
      var target = this;
      return target.split(search).join(replacement);
    };

    function valuesFromMultipleSelect(selectObject) {
      return Array.from(selectObject.selectedOptions).map(option => option.value)
    }

    function textsFromMultipleSelect(selectObject) {
      return Array.from(selectObject.selectedOptions).map(option => option.text)
    }

    function removeChildren(parent) {
      while (parent.firstChild) parent.removeChild(parent.firstChild)
    }

    // When the relation select field changes the attributes from this will change too
    selRelation.onchange = e => {
      fetch('/relation_attributes/' + selRelation.value)
        .then(res => res.json())
        .then(data => { // Array<Array<String>>
          const first = d => d[0]
          const isPrimary = d => d[3] === 'PRI' || d[3] === 'MUL'
          const display = data.filter(d => !isPrimary(d)).map(first)
          const primaryKeys = data.filter(isPrimary).map(first)
          const nonPrimaryKeyIndexes = [...data.entries()].filter(t => !isPrimary(t[1])).map(first)
          addPrimaryKeysTable(primaryKeys)
          replaceChildrenSelect(selMultAttributes, display, nonPrimaryKeyIndexes)
        })
    };

  </script>

</div>

{% endblock %}
